---
import Layout from '/src/components/main.astro';
---

<Layout>

<h1>Bloomington<br>Homes <em>for</em> All</h1>

<p>Bloomington Homes for All is a community organization fighting to preserve affordable housing. Currently, we are fighting to save 29 units of downtown, county-owned housing slated for demolition.</p>

<p>If you've ever tried to find a place to live in Bloomington, you know there is an affordable housing crisis. That is why it is shocking that Monroe County is trying to evict and demolish 29 units of affordable, county-owned housing, just to build an addition fully-subsidized hotel for the convention center.</p>

<p>The county needs to <em>save</em> these affordable apartments and allow the tenants to run them collectively through a land-trust.</p>

<h2>Sign the Petition to Save Seminary Pointe!</h2>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfAaFu0ErkFNkJTBnuNEcBmuqpK0NKVsSoBgxd0PwnYpt3tZA/viewform?embedded=true" width="640" height="1650" frameborder="0" marginheight="0" marginwidth="0" style="width:100%;height:1650px;mix-blend-mode: plus-lighter;filter: grayscale(100%); border-width:0">Loading…</iframe>

</Layout>
