---
import '/src/styles.css';
import SEO from '/src/components/seo.astro';
import Footer from '/src/components/footer.astro';
import Header from '/src/components/header.astro';
const { title, description, frontmatter } = Astro.props;
---

<html lang="en">
<!-- 
    GET YOUR OWN ARTISAN HTML @ 
      ✨ CHEAP.URLS.LOAN ✨
"MORE CONVENIENT THAN A NEW HOBBY" 
-->
	<head>
		<SEO title={frontmatter.title ? "Bloomington Homes for All: " + frontmatter.title : "Bloomington Homes for All"} description={frontmatter.description ? frontmatter.description : "Bloomington Homes for All is a community organization fighting to preserve affordable housing. Currently, we are fighting to save 29 units of downtown, county-owned housing slated for demolition."} />
	</head>
	<body>
	    <Header title={frontmatter.title} />
      <main>
        <slot />
      </main>
<!--       <Footer /> -->
	</body>
</html>
